*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px 28px;
  height: 70px;
  background: #15173d;
  border-bottom: 1px solid #982598;
  color: white;
  z-index: 1;
}

.text {
  color: #e491c9;
}

.sidebar {
  top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background: #15173d;
  border-right: 1px solid #982598;
}

.sidebar > ul > li > a {
  color: #e491c9;
  text-decoration: none;
  font-weight: 500;
}

.sidebar > ul > li > a:hover {
  color: #982598;
}

.main {
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 24px;
}

.button {
  display: flex;
  gap: 4px;
  align-items: center;
}

.edit-btn, .submit-btn {
  background-color: #15173d;
  color: #e491c9;
  font-weight: 500;
}

.edit-btn:hover, .submit-btn:hover {
  background-color: #383b74;
  color: white;
}

input {
  width: 100%;
  outline: none;
  border-radius: 7px;
  padding: 4px 9px;
  border: 1px solid #982598;
  color: #15173d;
}
